$color-text: #ffffff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Avenir Next Cyr;
}

p {
    color: $color-text;
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.col-flex {
    display: flex;
    flex-direction: column;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.container {
    width: 80%;
    max-width: 1170px;
    margin: auto;
    
}

.circle-1 {
    &::after {
        content: "";
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        background: #00E0FF;
        filter: blur(7px);
        position: absolute;
        z-index: 10;
    }
}

.main-screen-bg {
    background-image: url('../../public/images/background-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .main-screen {
        padding-top: 3rem;

        header {
            display: flex;
            justify-content: space-between;

            .logo {
                height: 12vh;
            }
            .phone-block {
                display: flex;
                align-items: center;

                p {
                    margin-left: 10px;
                }
            }
        }
        main {
            width: 60%;
            margin-top: 9rem;
            span {
                color: #747D81;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            h1 {
                font-size: 6rem;
                background: linear-gradient(180deg, #FFF 31.75%, #1A3031 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-bottom: 13px;
            }

            .guarantee {
                gap: 33px;
                margin-top: 5rem;
                .guarantee-icon {
                    border-radius: 12px;
                    border: 1px solid #49B9E8;
                    background: linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.05) 100%);
                    padding: 1rem 1rem 0.75rem;
                }

                span {
                    color: #00E0FF;
                    margin-top: 0.75rem;
                }
            }

            .webinar-btn {
                margin-top: 7rem;
                border: none;
                width: 80%;
                border-radius: 9px;
                background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
                box-shadow: 0px 7px 20px -7px #00E0FF;
                color: $color-text;
                padding: 1.375rem 0.8rem;
                font-size: 12px;
                font-weight: 750;
                letter-spacing: 3px;
                text-transform: uppercase;
            }
        }
    }
}